<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <script src="~/js/scripts.js"></script>
    <title></title>
  </head>
  <body>
    <div class="container">
      <form action="/gameResult" method="post">

        <div>
          <label>Player One:</label><br>
          <input type="radio" name="PlayerOne" value="Rock">Rock
          <input type="radio" name="PlayerOne" value="Paper">Paper
          <input type="radio" name="PlayerOne" value="Scissors">Scissors
        </div><br>

        <div>
          <label>Player Two:</label><br>
          <input type="radio" name="PlayerTwo" value="Rock">Rock
          <input type="radio" name="PlayerTwo" value="Paper">Paper
          <input type="radio" name="PlayerTwo" value="Scissors">Scissors
        </div>

        <button type="submit" name="button">Submit</button>
      </form>
    </div>
    <div class="GameResult">
      @Model.GetResult()
    </div>
  </body>
</html>
